                                <div class="col-sm-1">
                                    <div class="form-group">
                                        <label for="sel1">Faixa Etaria:</label>
                                        <select class="form-control" name="idade">
                                            <option value="1">Tudo</option>
                                            <option value="2">0 ate 11</op tion>
                                                <option value="3">12 ate 17</option>
                                                <option value="4">18 ate 25</option>
                                                <option value="5">26 ate 35</option>
                                                <option value="6">36 ate 50</option>
                                                <option value="7">mais que 50</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="form-group ">
                                            <label for="sel1">Genero:</label>
                                            <select class="form-control" name="genero">
                                                <option value="t">Tudo</option>
                                                <option value="m">Masculino</option>
                                                <option value="f">Feminino</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="usr">Email:</label>
                                            <input type="text" class="form-control" name="email">
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="form-group">
                                            <label for="usr">Data:</label>
                                            <input type="text" class="form-control" name="data">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="usr">Bairro:</label>
                                            <input type="text" class="form-control" name="bairro">
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="form-group">
                                            <label for="sel1">Itens/Pagina:</label>
                                            <select class="form-control" name="itens" required>
                                                <option value="10">10</option>
                                                <option value="7">7</option>
                                                <option value="5">5</option>
                                                <option value="3">3</option>
                                                <option value="1">Tudo</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <label for="sel1">Gerar arquivo CSV?</label>
                                    <input type="radio" name="gerar_csv" value="sim" required>Sim</input>
                                    <input type="radio" name="gerar_csv" value="nao">Nao</input>