/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Barras laterais */
.sidenav {
    padding-top: 20px;
    background-color: #ffffff;
    height: 100%;
}

/* Footer (fim da página) */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;} 
}

p.newFont{
    font: Dialog;

    font-size: larger;
}
a.a_.footer:link {
    color: white;
}

/* visited link */
a.a_footer:visited {
    color: white;
}

/* mouse over link */
a.a_footer:hover {
    color: white;
}

/* selected link */
a.a_footer:active {
    color: white;
}

a.a_h1:link 
{   
    text-decoration:none; 
    color: black;
}
/* visited link */
a.a_h1:visited {
    color: black;
}
a.a_h3:link {
    color: green;
}

/* visited link */
a.a_h3:visited {
    color: green;
}