                                <div class="col-sm-2">
                                    <div class="form-group">
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <label><input type="radio" name="opcao" value="user_idade">Faixa Etaria</label>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group ">
                                        <label><input type="radio" name="opcao" value="user_genero" >Genero</label>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group">
                                        <label><input type="radio" name="opcao" value="user_email">Email</label>    
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group">
                                        <label><input type="radio" name="opcao" value="data" >Data</label>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group">
                                        <label><input type="radio" name="opcao" value="bairro">Bairro</label>
                                    </div>
                                </div>
